<!--inlude header-->
    <%- include('include/_header') %>
<!--inlude header-->

<!--Main Site-->
<main id="site-main">
    <div class="container text-center">
        <div class="box-nav-d-flex justify-between">
            <h1>Login As</h1>
            <a href="teacher-login"><button type="button" class="btn btn-primary btn-lg">Teacher</button></a>
            <a href="student-view-result"><button type="button" class="btn btn-primary btn-lg m-4">Student</button></a>
        </div>
    </div>
</main>
<!--Main Site-->

<!--inlude footer-->
<%- include('include/_footer') %>
<!--inlude footer-->